.catalog {
  display: grid;
  grid-template-columns: repeat(1, 200px,);
  justify-content: center;

  margin: 0 auto;

  max-width: 1024px;
  box-sizing: border-box;
  gap: 48px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (min-width: 769px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
